<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<table style="font-style:italic;font-family: Arial,helvetica,sans-serif;line-height: 22.5px;text-align: left;font-size: 15px;">

    <tr style="font-weight: bold;">
        <u>Incident <span th:text="${incidentId}"></span> </u> Transfer Notification
    </tr>
    <tr height = 20px></tr>
    <tr style="font-weight: bold;">
        <b>Transfer group from Dealer to R1 CAS SUPPORT LEVEL1<b>
    </tr>
    <tr height = 20px></tr>
    <tr th:background="blue" style="font-weight: bold;"> Comment: </tr>
    <tr>
        <span th:text="${comment}"></span>
    </tr>
    <tr th:background="blue" style="font-weight: bold;"> Summary: </tr>
    <tr>
        <span th:text="${summary}"></span>
    </tr>
    <tr style="font-weight: bold;" th:background="blue" >
        <td>End User</td><td></td><td>Incident Area</td><td></td><td>Status</td><td></td><td>Priority</td>
    </tr>
    <tr th:background="blue" >
        <td><span th:text="${reportedBy}"></span></td><td></td><td><span th:text="${category}"></span></td><td></td><td><span th:text="${status}"></span></td><td></td>
        <td><span th:text="${priority}"></span></td>
    </tr>
    <tr height = 20px></tr>
</table>
<table>
    <tr height = 40px></tr>
    <tr th:background="blue" style="font-weight: bold;"> Description: </tr>
    <tr>
        <span th:text="${description}"></span>
    </tr>
 <tr height = 40px></tr>
    <tr>
        Thanks
    </tr>

</table>
</body>
</html>